@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Montserrat", sans-serif;
  }


body {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: #f2f2f2;
}
/*=====================================MENU==============================*/

.navheader {
  background-color: #E72876;
}

#menu a {
  font-size: 18px;
  color: whitesmoke;
}


#menu p {
  font-size: 18px;
  color: whitesmoke;
  text-align: right;
  transition-duration: 0.5s;
}

#menu p:hover {
  transform: scale(1.03);
}

.link-hover {
  transition-duration: 0.5s;
}

.link-hover:hover {
  transform: scale(1.03);
  /* text-shadow: 1px 1px 2px #0571B6; */
}

/* ====================================SLIDER DE IMAGENES========================= */

.carousel-inner {
  max-height: 35rem;
}

/* ====================================INTRO========================= */

.colorRosa {
  color: #E72876;
}

/* ====================================SERVICIOS========================= */
.imagenPlan {
  width: 180px;
  height: 160px;
}

.tipo-servicio {
  text-align: center;
  padding-top: 50px;

}

.fondo-rosa {
  background-color: #E72876;
}

.card-planes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:60px;
  padding-bottom: 30px;
  margin-top: 40px;
  .plan{
      display:flex;
      flex-direction: column;
      align-items: center;
      color: whitesmoke;
      background-color: #E72876;
      width: 230px;
      height: 350px;
      padding-left: 10px;
      box-shadow: 6px 3px 10px grey;
      border-radius: 10px;
      transition-duration: 0.5s;
      .tipo-plan{
          font-size: large;
          margin-top: 10px;
          text-align: center;
      }
      .texto-plan{
        text-align: center;
        padding-right: 5px;
        margin-top: 0px;
        .tachado{
          text-decoration: line-through;
        }
      }
      .tachado{
        text-decoration: line-through;
      }
      .numero-plan {
        font-size: xx-large;
        font-weight: bolder;
        margin-top: -10px;
        margin-bottom: -10px;
        line-height: 60px;
        .texto-mes{
          text-align: right;
          font-size: smaller !important;
          /* padding-right: 5px; */
        }
      }
  }
}
.plan:hover{
  transform: scale(1.08);
}
.card-cuadrado{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:0px;
  padding-bottom: 30px;
  margin-top: 40px;
  .internet{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    background-color: chocolate;
    width: 200px;
    height: 200px;
    padding-left: 0px;
    cursor: pointer;
    .icono{
      font-size: 100px;
      position: absolute;
      /* top: 50%; */
      transform: translateY(20%);
    }
  }
  @media screen and (min-width: 768px) {
    .card-cuadrado {
      display: flex;

    }
  }
  .nube{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    background-color: skyblue;
    width: 200px;
    height: 200px;
    padding-left: 0px;
    cursor: pointer;
    .icono{
      font-size: 100px;
      position: absolute;
      /* top: 50%; */
      transform: translateY(20%);
    }
  }
  .vigilancia{
    display:flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    color: whitesmoke;
    background-color: blueviolet;
    width: 200px;
    height: 200px;
    padding-left: 0px;
    cursor: pointer;
    .icono{
      font-size: 100px;
      position: absolute;
      /* top: 50%; */
      transform: translateY(20%);
    }
  }
  .redes{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    background-color: lightslategray;
    width: 200px;
    height: 200px;
    padding-left: 0px;
    cursor: pointer;
    .icono{
      font-size: 100px;
      position: absolute;
      /* top: 50%; */
      transform: translateY(20%);
    }
  }

  .it{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    background-color: burlywood;
    width: 200px;
    height: 200px;
    padding-left: 0px;
    cursor: pointer;
    .icono{
      font-size: 100px;
      position: absolute;
      /* top: 50%; */
      transform: translateY(20%);
    }
  }
}

.cuadrado{
  transition-duration: 0.5s;
}
.cuadrado:hover {
  transform: scale(1.08);
}

.servicios-mostrar{
  display: none;
}
/*
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
} */


.slider-container {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
    transition-duration: 0.5s;
}

/* .slider-container:before,
.slider-container:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
} */

.slider-container:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.slider-container:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.slider-container .slide-track {
    display: flex;
    animation: scroll 35s linear infinite;
    -webkit-animation: scroll 35s linear infinite;
    width: calc(200px * 16);
}

.slider-container:hover .slide-track {
  animation-play-state: paused;
}

.slide-img img {
    height: 100px;


}
/* .slider .slide img {
    width: 100%;
} */

.slide-img {
  margin: 0 40px;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 8));
        transform: translateX(calc(-200px * 8));
    }
}

/* ====================================MEDIA QUERYS PANTALLA SM========================= */
@media (max-width: 768px){
  #intro {
    width: 90% !important;
  }
  .servicio.fila {
    width: 100% !important;
    text-align: center;
  }
}

/* ====================================MEDIA QUERYS PANTALLA EXTRA-SM========================= */
@media(max-width: 576px){
  .icono-wrap{
    flex-wrap: wrap;
    justify-content: center !important;
  }
}

/* ====================================UBICACION========================= */

.card-ubicacion{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:100px;
  padding-bottom: 30px;
  margin-top: 40px;
  .ubicacion{
      display:flex;
      flex-direction: column;
      align-items: center;
      color: whitesmoke;
      background-color: #E72876;
      /* background-color: #AB1A55;  */
      width: 330px;
      height: 450px;
      padding-left: 2px;
      box-shadow: 6px 3px 10px grey;
      border-radius: 10px;
      transition-duration: 0.5s;
      .texto-localidad{
          margin-top: 10px;
          text-align: center;
          color: whitesmoke;
      }
      .texto-plan{
        text-align: center;
        padding-right: 5px;
        margin-top: 0px;
        .tachado{
          text-decoration: line-through;
        }
      }
      a {
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
      }
      a:hover, a:focus {
          background-size: 100% 2px;
      }
  }
}
.ubicacion:hover{
  transform: scale(1.08);
}

.grilla-map {
  display: grid;
  grid-template-rows: 100px 350px;
  grid-template-columns: 400px;
  text-align: center;
  /*background-color: $azul;*/
}
@media screen and (min-width: 768px) {
  .grilla-map {
    grid-template-rows: 500px;
    grid-template-columns: 1fr 2fr;
    /* margin-top: 100px; */
  }
}


.mapa {
  width: 290px;
  height: 290px;
  margin-top: 5px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .mapa {
    width: 300px;
    height: 250px;
  }
}
@media screen and (min-width: 1024px) {
  .mapa {
    width: 300px;
    height: 250px;
  }
}

.localidad {
  text-align: center;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .localidad {
    text-align: right;
    padding-right: 5px;
  }
}

.centrado {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
}

/* ====================================FORM-CONTACTO========================= */

/* .container {

} */
.btn-enviar{
  background-color: #E72876;
  border-color: transparent;
  border-radius: 8px;
  color: white;
  margin: 20px;
}

.btn-enviar:hover {
  background-color: white;
  color: black;
  border-color: #E72876;
}


.largo {
  width: auto;
}
@media screen and (min-width: 768px) {
  .largo {
    width: 600px;
  }
}
@media screen and (min-width: 1024px) {
  .largo {
    width: 800px;
  }
}

/* =====================================WHATSAPP================================================ */
/* whatsapp */
.whatsapp {
  display: flex;
  width: 60px;
  height: 60px;
  padding-right: 10px;
  position: fixed;
  bottom: 10px;
  right: 3px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .whatsapp {
    padding-right: 40px;
    bottom: 5px;
    right: 20px;
  }
}
.whatsapp a img {
  width: 40px;
  height: 40px;
  padding-right: 0px;
  transition-duration: 0.5s;
}
@media screen and (min-width: 768px) {
  .whatsapp a img {
    width: 60px;
    height: 60px;
  }
}

.whatsapp a img:hover {
  transform: scale(1.08);
}


/* =====================================FOOTER================================================ */
/*footer*/
.footer {
  display: flex;
  justify-content: center;
  bottom: 1px;
  background-color: #E72876;
  color: whitesmoke;
  height: 70px;
  align-items: center;
  padding: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media screen and (min-width: 768px) {
  .footer {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    justify-content: center;
    padding: 25px;
  }
}
.footer nav ul {
  display: flex;
  gap: 5px;
}
@media screen and (min-width: 768px) {
  .footer nav ul {
    gap: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .footer nav ul {
    gap: 20px;
    padding-top: 15px;
  }
}
.footer nav ul li {
  list-style: none;
}
.footer nav ul li a {
  display: flex;
  color: whitesmoke;
  text-decoration: none;
  font-size: x-small;
}
@media screen and (min-width: 768px) {
  .footer nav ul li a {
    font-size: large;
    padding-top: 5px;
  }
}
.footer nav ul li span {
  font-size: small;
}
@media screen and (min-width: 768px) {
  .footer nav ul li span {
    font-size: large;
  }
}

.ico-fb {
  width: 12px;
  height: 100%;
  transition-duration: 0.5s;
}
@media screen and (min-width: 768px) {
  .ico-fb {
    width: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .ico-fb {
    width: 16px;
  }
}

.ico-fb:hover {
  transform: scale(1.08);
}

.ico-ig {
  width: 19px;
  height: 100%;
  transition-duration: 0.5s;
}
@media screen and (min-width: 768px) {
  .ico-ig {
    width: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .ico-ig {
    width: 24px;
  }
}

.ico-ig:hover {
  transform: scale(1.08);
}

.ico-mail {
  width: 24px;
  height: 100%;
  transition-duration: 0.5s;
}
@media screen and (min-width: 768px) {
  .ico-mail {
    width: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .ico-mail {
    width: 30px;
  }
}

.ico-mail:hover {
  transform: scale(1.1);
}


.ico-ln {
  width: 20px;
  height: 100%;
  transition-duration: 0.5s;
}
@media screen and (min-width: 768px) {
  .ico-ln {
    width: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .ico-ln {
    width: 25px;
  }
}

.ico-ln:hover {
  transform: scale(1.08);
}
